<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="shortcut icon" href="#">
        <title>Adventure</title>
        {% block script %}{% endblock %}
    </head>
    <body>     

        <div id="myModal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <p id="modalText">Some text in the Modal..</p>
              <button id="modalContinue" style="display:none;">Continue</button>
            </div>
          </div>
          

        <div class="grid-parent">

            <div class = "story"> 
                {% block main_text %}{% endblock %}
            </div>

            <div class = "continue">   
                {% block continue %}{% endblock %}
            </div>
        </div>
    </body>
</html>