<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="shortcut icon" href="#">
        <title>Adventure</title>
        {% block script %}{% endblock %}
    </head>
    <body>     

          

        <div class="grid-parent">

            <div class = "story"> 
                {% block main_text %}{% endblock %}
            </div>

            <div class = "continue">   
                {% block continue %}{% endblock %}
            </div>
        </div>
    </body>
</html>