<!-- page 6 -->
{% extends 'base.html' %}


{% block main_text %}


<div class="grid-content">
    <div class="left-part">

      <p>
    Your colleague is helping now.
</p>
        <br>



<div class="container" style="width:90%; margin:0 auto; overflow:hidden;">
  <img src="{{ url_for('static', filename='img/guided.jpg') }}" 
       alt="Example Image"
       style="width:100%; height:auto; object-fit:cover; ">
</div>

    </div>

    <div class="right-part">
  


<div class="status-panel">
    {% if success %}
  <div class="banner banner-success" role="status">
    ✅ The target is reached! Both oxygen and CO₂ are within the safe range. Please continue.
  </div>
{% elif failed %}
  <div class="banner banner-fail" role="alert">
    ⚠️ You have taken more than 5 steps without reaching the goal. Please continue.
  </div>
{% endif %}
  <table class="gas-table">
    <thead>
      <tr>
        <th> </th>
        <th>Standard Range</th>
        <th>Current Level</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Oxygen (O<sub>2</sub>)</td>
        <td style="color: red;">error</td>
        <td><mark>16.0 %</mark></td>
      </tr>
      <tr>
        <td>Carbon Dioxide (CO<sub>2</sub>)</td>
        <td style="color: red;">error</td>
        <td><mark>0.6%</mark></td>
      </tr>
      <tr>
        <td>Temperature</td>
        <td>21–24°C</td>
        <td>22°C</td>
      </tr>
      <tr>
        <td>Humidity </td>
        <td>40-60%</td>
        <td>47%</td>
      </tr>
    </tbody>
  </table>



  <form method="POST" action="">
    {{ form.hidden_tag() }}
     <legend>Choose an action:</legend>
  {% for subfield in form.follow_colleague %}
                <label>{{ subfield }} {{ subfield.label }}</label>
                {% endfor %}


    <div class="actions">
        <br>
      <input type="submit" value="Continue" class="continue-btn">
    </div>
  </form>
</div>
    </div>
</div>


{% endblock %}
