<!-- page 2 -->
{% extends 'base.html' %}

{% block main_text %}

{% if session.get('is_correct') is not none %}
    <script>
        window.onload = function() {
            let message = "{% if session.get('is_correct') %}Yes, you are correct!{% else %}Wrong answer. The correct answer is B. Decrease temperature by 1°C {% endif %}";
            alert(message); // Show the message in an alert

            setTimeout(() => {
                window.location.href = "{{ url_for('ship_situation') }}"; // Redirect after showing the alert
            }, 0); // Short delay to allow the alert to show before redirect
        };
    </script>
    {% set _ = session.pop('is_correct') %}  {# Remove feedback after displaying #}
{% endif %}

<div class="grid-content">
    <div class="left-part">
        <br>
    <div class="container">
        
        <img src="{{ url_for('static', filename='img/desk.jpg') }}" 
        alt="Example Image" 
        style="width: 80%; height: auto; ">
    </div>
        <br><br>
    </div>
    <div class="right-part">
        <p class="t_title">
            The situation in the spaceship will be similar but more complicated. This is a simple example exercise to get you ready. Let's try it out! 
             <p>The <strong>standard ranges</strong> aboard the spaceship are:</p>
  <ul>
    <li><strong>Temperature:</strong> <mark>21–24°C </mark></li>
    <li><strong>Humidity:</strong> <mark>40-60%</mark></li>
  </ul>

  <p><strong>Current levels:</strong> Temperature <mark>25°C</mark>, Humidity 
    <mark>45%</mark>.</p>

  <p>Your task: <strong>calculate the needed adjustment</strong> and select the button that 
    best returns the thermal conditions to the standard ranges. Choose an action to continue.</p>


            <form method="POST" action="">
                {{ form.hidden_tag() }}
        
                {% for subfield in form.tank_practice %}
                    <label>
                        {{ subfield }}{{ subfield.label.text }}
                    </label><br>
                {% endfor %}
                <br>

                <input type="submit" value="Continue" class = "continue-btn"> <!-- Submit Button -->
            </form>
        </p>
    </div>
</div>
<br>



{% endblock %}