<!-- page 6 -->
{% extends 'base.html' %}


{% block main_text %}
{% if show_modal %}
<div id="myModal" class="modal">
  <div class="modal-content">
    <p>While you try to find the solution, a colleague who knows about it comes to help.</p>
    <button onclick="goNext()">Close</button>
  </div>
</div>

<script>
function goNext() {
  window.location.href = "{{ url_for('guided') }}";
}
</script>
{% endif %}

<div class="grid-content">
    <div class="left-part">
        <p>
You rush to check the spaceship’s environment system, displayed on the panel on the right.
The standard ranges and the current levels are shown. 
Your goal is to adjust the levels so that all the parameters fall within their standard ranges, 
using the fewest actions possible. 
  </p>

  <p>
    After selecting an action, click 'Continue' to apply it—
    the current levels will update accordingly.

You will only succeed when both gas levels fall within the standard ranges, achieved in the fewest steps possible.</p>


  <p>Please calculate first, then begin taking actions.</p>
       


 <br>
<div class="container" style="width:90%; margin:0 auto;height:500px; overflow:hidden;">
  <img src="{{ url_for('static', filename='img/desk.jpg') }}" 
       alt="Example Image"
       style="width:100%; height:auto; object-fit:cover;">
</div>

    </div>

<div class="right-part">


  
<div class="status-panel">

  <table class="gas-table">
    <thead>
      <tr>
        <th> </th>
        <th>Standard Range</th>
        <th>Current Level</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Oxygen (O<sub>2</sub>)</td>
        <td style="color: red;">error</td>
        <td><mark>19.0 %</mark></td>
      </tr>
      <tr>
        <td>Carbon Dioxide (CO<sub>2</sub>)</td>
        <td style="color: red;">error</td>
        <td><mark>0.6 %</mark></td>
      </tr>
      <tr>
        <td>Temperature</td>
        <td>21–24°C</td>
        <td>22°C</td>
      </tr>
      <tr>
        <td>Humidity </td>
        <td>40-60%</td>
        <td>47%</td>
      </tr>
    </tbody>
  </table>



  <form method="POST" action="">
    {{ form.hidden_tag() }}

      <fieldset class="choices">
        <legend>Choose an action:</legend>
        {% for subfield in form.tank_reason %}
          <label class="choice">
            {{ subfield }} {{ subfield.label.text }}
          </label>
        {% endfor %}
      </fieldset>

    <div class="actions">
      <input type="submit" value="Continue" class="continue-btn">
    </div>
  </form>


</div>

  <p class="t_warning">
    Note:<br>
    You may notice that the temperature and humidity values you are responsible for are within the 
    standard ranges. However, the oxygen and carbon dioxide levels are outside the standards. Their 
    standard ranges are currently unavailable due to errors, and you have no knowledge of them. 
    Regardless, the ship is now at risk and it is your duty to try to solve the situation.
</p>
    </div>
</div>


{% endblock %}
